---
import Layout from "../layouts/Layout.astro";

const pageTitle = "À propos de ce site";
const pageDescription =
  "Ce site a pour objectif de tenir les passionné(e)s de séries informé(e)s des dates de sortie des programmes diffusés sur les chaînes de télévision et les plateformes de streaming en France";
const pageTitleOG = "A propos de Planning Séries";
const OGType = "article";
---

<Layout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  pageTitleOG={pageTitleOG}
  OGType={OGType}
>
  <main class="px-4 pb-4 font-text mt-4 sm:mt-8 mb-16">
    <h1 class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-8">{pageTitle}</h1>

    <p class="my-4">Bienvenue sur <strong>Planning Séries</strong> !</p>
    <p class="my-4">
      Ce site a pour objectif de tenir les passionné(e)s de séries informé(e)s
      des dates de sortie des programmes diffusés sur les chaînes de télévision
      et les plateformes de streaming en France.
    </p>
    <p class="my-4">
      L'ambition est de fournir une ressource incontournable pour que les
      amateurs de séries ne manquent jamais la sortie de leurs titres favoris.
    </p>
    <p class="my-4">
      Que vous soyez amateur(e) de séries françaises, américaines ou coréennes,
      l'objectif est de vous tenir informé(e).
    </p>

    <h2 class="text-xl sm:text-2xl font-bold my-4 sm:my-8">
      On reste en contact !
    </h2>

    <p class="my-4">
      Pour toute suggestion de date, remarque ou simple prise de contact, la
      page <a class="hover:underline font-medium" href="/contact/">Contact</a>
      est à votre disposition.
    </p>

    <p class="my-4">
      Vous pouvez également utiliser les réseaux sociaux associés <a
        class="hover:underline font-medium"
        href="https://twitter.com/seriestvnews"
        target="_blank">X</a
      >
      (ex-Twitter), <a
        class="hover:underline font-medium"
        href="https://www.facebook.com/tvchronik"
        target="_blank">Facebook</a
      > et <a
        class="hover:underline font-medium"
        href="https://www.threads.net/@planningseries"
        target="_blank">Threads</a
      > qui proposent les nouvelles sorties de saisons au quotidien.
    </p>

    <h2 class="text-xl sm:text-2xl font-bold my-4 sm:my-8">
      A propos du créateur
    </h2>

    <p class="my-4">
      Passionné de séries depuis les années 80/90, dès mes premières heures sur
      Internet (vers fin 97 on va dire), j’ai aimé partager cette passion à
      travers divers sites de fan (Dawson’s Creek, si ça vous parle 😀), puis
      des blogs d’actu comme TV Chronik (2006/2011) et seriesTVnews (2011/2023).
    </p>

    <p class="my-4">
      J’ai aussi collaboré avec plusieurs magazines papier à l’instar de Series
      TV Magazine à l’époque de Lost et 24h Chrono.
    </p>

    <p class="my-4">
      <span>Planning Séries</span> est en quelque sorte le descendant de la page
      <a
        class="hover:underline font-medium"
        href="https://itstvnews.com/planning-france/"
        target="_blank">Planning Séries France</a
      > que j’ai tenu à jour pendant près de 13 ans sur seriesTVnews.
    </p>

    <p class="my-4 italic font-medium">Nick</p>
  </main>
</Layout>