---
import shows from "../data/shows.json";
import {
  getShowsByDate,
  getSortedShowsByDate,
  formatDate,
  getShowsByPlatform,
} from "../scripts/utils";

const showsByDate = getShowsByDate(shows);
const sortedShowsByDate = getSortedShowsByDate(showsByDate);
// console.log(sortedShowsByDate.slice(5));
// console.log(getShowsByPlatform(sortedShowsByDate[2].shows));

const computedShows = sortedShowsByDate.map((group) => {
  const showsByPlatform = getShowsByPlatform(group.shows);

  return {
    date: group.date,
    platformGroup: showsByPlatform,
  };
});

console.log(computedShows[0]);
---

<section id="planning" class="bg-gray-50">
  <h2 class="text-3xl my-4">Planning</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, qui.</p>
  <!-- {
    sortedShowsByDate.map((group) => (
      <div class="my-4">
        <h3 class="font-bold text-xl mb-2">{formatDate(group.date)}</h3>
        <div>{group.shows.map((show) => (
            <p class="my-1"><span class="font-bold">{show.Titre}</span> - {show.Saison} - {show.Plateforme}{show.Note !== "" ? ` - ${show.Note}` : ""}</p>
            ))}</div>
      </div>
    ))
  } -->
  {
    computedShows.map((dateGroup) => (
      <div class="my-4">
        <h3 class="font-bold text-2xl mb-2">{formatDate(dateGroup.date)}</h3>
        <div>
          {dateGroup.platformGroup.map((platform) => (
            <div class="border border-dotted border-red-500 mb-2 p-2">
              <h4 class="text-lg font-bold">{platform.platform}</h4>
              <div class="ml-3">
                {platform.shows.map((show) => (
                  <p class="bg-blue-100 p-2 my-1">{show.Titre} - {show.Saison} - {show.Pays}</p>
                ))}
              </div>
            </div>
          ))}
        </div>
      </div>
    ))
  }
</section>
